.dashboard {
  display: flex;
  position: relative;
  background: #e5e5e5;
}

.sidebar {
  flex: 1;
  height: 100vh;
  background: #ffffff;
  padding: 2% 0;
  border-radius: 0px 30px 30px 0px;
  position: sticky;
  top: 0;
  bottom: 0;
}

.content {
  flex: 9;
  top: 0;
}

.mobile-view {
  display: none;
}

/* Responsive styling for the dashboard */
@media screen and (max-width: 450px) {
  .sidebar {
    display: none;
    position: absolute;
    left: -100vw;
    top: 0;
    z-index: 5;
    background: #516beb;
    width: 70%;
    border: none;
    border-top-left-radius: 0;
  }

  .sidebar-mobile {
    display: block;
    position: absolute;
    left: -100vw;
    top: 0;
    z-index: 5;
    background: #516beb;
    width: 70%;
    border: none;
    border-top-left-radius: 0;
  }

  .mobile-view {
    display: block;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    width: 100%;
    height: 3rem;
    padding: 0 4%;
  }

  .mobile-view img {
    width: 50%;
    object-fit: contain;
  }

  .open {
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease-in-out 3s;
  }
}
