.modal-background{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

.modal-container{
    width: 25rem;
    height: 25rem;
    background: #F9FBFF;
    border-radius: 12px;
    padding: 1rem;
}

.modal-content .close-modal{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal-content .modal-content-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content .modal-content-heading h4{
    font-weight: 500;
    color: #374151;
    font-size: 1rem;
    margin-top: 1rem;
}