.modal-background{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

.modal-container{
    width: 18rem;
    height: 8rem;
    background: #F9FBFF;
    border-radius: 12px;
}