.assim-documents-section-heading{
    margin: 2rem 0 1rem;
    font-weight: 400;
    font-size: 1rem;
}

.assim-documents{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.assim-document{
    width: 13rem;
    height: 10rem;
    border-radius: 6px;
    cursor: pointer;
}

.assim-document-img{
    width: 13rem;
    height: 60%;
    background: rgba(115, 103, 240, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.assim-document-details{
    width: 13rem;
    height: 40%;
    background: #fff;
    padding: 10px;
}

.assim-document-details>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.assim-document-details>div:first-child>p:first-child{
    font-size: 0.875rem;
    font-weight: bold;
    color: #5E5873;
    font-family: 'DM Sans', sans-serif;
}

.assim-document-details>div:first-child>p:nth-child(2){
    font-size: 0.75rem;
    font-weight: 400;
    color: #B9B9C3;
    font-family: 'DM Sans', sans-serif;
}

.assim-document-details>div:nth-child(2){
    font-size: 0.75rem;
}

.assim-document-details>div:nth-child(2)>p{
    color: #B9B9C3;
}

.document-download-icon{
    color: rgb(99, 99, 253);
}